
<p>
Hi <strong><%= @username %></strong>,<br/>
Your <b>"<%=@inst_name%>"</b> instance was created !!<br/>
</p>
<strong> Instance : <h3 style="display: inline-block"><%= "#{@inst_name}" %></h3></strong><br/>
<strong> Hostname : <h3 style="display: inline-block"><%= "#{@inst_hostname}" %></h3></strong><br/>
<strong> Port: <h3 style="display: inline-block"><%= "#{@inst_port}" %></h3></strong>
<strong> Username: <h3 style="display: inline-block"><%= "#{@username}" %></h3></strong>
<strong> Password: <h3 style="display: inline-block">Your password</h3></strong>
<br/>
Enjoy !!!!
