<!DOCTYPE html>
<html>
<head>
  <title>BK Storage</title>
  <%= stylesheet_link_tag     'application' %>
  <%= javascript_include_tag  'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="page-wrapper">
    <%= render 'layouts/header' %>
    <div class="wrapper-container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
